{% extends "template.html" %}

{% block title %}all trips{% endblock %}
{% block header %}all trips{% endblock %}

{% block content %}
<!-- trip container -->

{% for trip in trips %}
<section class="trip-container">
	<header class="trip-header">
		<div class="from-date">
			<div class="big-date">xx</div>
			<div class="small-date">{{ trip['start_date'] }}</div>
		</div>
		<div class="trip-header-to">to</div>
		<div class="to-date">
			<div class="big-date">xx</div>
			<div class="small-date">{{ trip['end_date'] }}</div>
		</div>
	</header>
	<article class="trip-body">
		<div class="trip-item">
			<div class="title">country:</div>
			<div class="description">{{ trip['name'] }}</div>
		</div>
		<div class="trip-item">
			<div class="title">duration:</div>
			<div class="description">90 nights</div>
		</div>
		<div class="trip-item">
			<div class="title">number of stops:</div>
			<div class="description">15</div>
		</div>
		<div class="trip-item">
			<div class="title">cost:</div>
			<div class="description">£1,000</div>
		</div>
	</article>

	<footer class="trip-btns right">
		<a href="" class="btn my-btn my-btn-update">
			update
		</a>
		<a href="" class="btn my-btn my-btn-delete">
			delete
		</a>
	</footer>
</section>

{% endfor %}

<!-- floating link to add a new trip -->
<aside class="fixed-action-btn">
	<a href="" class="btn my-btn my-btn-new">
		new trip
	</a>
</aside>
{% endblock %}