{% extends "template.html" %}
{% block title %}
{{ 'my' if trips_showing == 'user' else 'all' }} trips
{% endblock %}
{% block header %}
<a href="{{ url_for('show_trips') }}" class="breadcrumb">All Trips</a>
{% if trips_showing == 'user' %}
<a href="{{ url_for('show_trips', show='user') }}" class="breadcrumb">My Trips</a>
{% endif %}
{% endblock %}


{% block content %}
<section class="row">
	{% set results = {} %}
	{% for trip in trips %}
	{# this is used to update the global results obj #}
	{% set results = results.update({'populated': True}) %}

	<div class="col s12 l6">
		<div class="card medium sticky-action">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="https://placeimg.com/400/200/nature">
            </div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">{{ trip['name'] }}</span>
					<p>{{ trip['start_date'].day }} {{ trip['start_date'].strftime('%b') }}
						{{ trip['start_date'].year }} - {{ trip['end_date'].day }} {{ trip['end_date'].strftime('%b') }}
						{{ trip['end_date'].year }}</p>
				</div>
				<div class="card-action">
					<div class="trip-btns">
						<a href="{{ url_for('trip_detailed', trip_id=trip['_id']) }}" class="btn-small ">view</a>
						{% if trip['owner_id']|string() == session.get('USERNAME', None)|string() %}
						<a href="{{ url_for('trip_update', trip_id=trip['_id']) }}" class="btn-small my-btn-update">
							update
						</a>
						<a href="{{ url_for('trip_delete', trip_id=trip['_id']) }}" class="btn-small my-btn-delete">
							delete
						</a>
						{% endif %}
					</div>
				</div>
				<div class="card-reveal">
					<div class="card-content">
						<span class="card-title grey-text text-darken-4">{{ trip['name'] }}</span>
						<div class="trip-item">
							<span class="title">number of travelers:</span>
							<span class="description">{{ trip['travelers'] }}</span>
						</div>
						<div class="trip-item">
							<span class="title">country:</span>
							<span class="description">{{ trip['country'] if trip['country'] else 'N/A - no stops added' }}
                    </span>
						</div>
						<div class="trip-item">
							<span class="title">duration (nights):</span>
							<span class="description">{{ trip['duration'] if trip['duration'] else 'N/A - no stops added' }}
                    </span>
						</div>
						<div class="trip-item">
							<span class="title">number of stops:</span>
							<span class="description">
                        {{ trip['number_of_stops'] if trip['number_of_stops'] else 'N/A - no stops added' }}</span>
						</div>
						<div class="trip-item">
							<span class="title">total cost:</span>
							<span class="description">
                        {{ trip['total_cost'] if trip['total_cost'] else 'N/A - no stops added' }}
                    </span>
						</div>
						<div class="trip-item">
							<span class="title">creator:</span>
							<span class="description">{{ trip['display_name'][0] }}</span>
						</div>

					</div>
				</div>
			</div>
		</div>

		{% endfor %}

		{% if not results %}
		<p>{{ 'You do not currently have any trips' if trips_showing == 'user' else 'There are currently no trips'}},
			you
			can
			change this by clicking 'new trip' at the bottom of the screen</p>
		{% endif %}
</section>
<!-- floating link to add a new trip - only if user logged in -->
{% if session.get('USERNAME') %}
<aside class="fixed-action-btn">
	<a href="{{ url_for('trip_new') }}" class="btn-small my-btn-new">
		new trip
	</a>
</aside>
{% endif %}
{% endblock %}