{% extends "template.html" %}

{% block title %}trip detail{% endblock %}
{% block header %}
<a href="{{ url_for('show_trips') }}" class="breadcrumb">All Trips</a>
<a href="{{ url_for('show_trips') }}" class="breadcrumb">My Trips</a>
<a href="#!" class="breadcrumb">Detailed Information for Trip: <strong>{{ trip['name'] }}</strong></a>
{% endblock %}

{% block content %}
<!-- <section class="page-description">Some text</section> -->
<header class="trip-overview center">
	<h2>{{ trip['name'] }}</h2>
	<p>{{ trip['start_date'].strftime('%d %B %Y') }} to {{ trip['end_date'].strftime('%d %B %Y') }}</p>
</header>

<section class="trip-breakdown">
	{% if stops.count() %}

	<article class="trip-month">
		<h4 class="trip-month-header">MMMM YY</h4>
		<!-- clicking on this will expand the article to show all the detail -->
		{% for stop in stops %}
		<ul class="trip-stops">
			<li>{{ stop['country']}} - {{stop['city/town']}} [{{ stop['duration'] }} nights]</li>
		</ul>
		{% endfor %}
	</article>

	{% else %}
	<h4 class="center">This Trip does not have any Stops. You can add a Stop by clicking 'Add Stop' at the bottom of
		this page.</h4>
	{% endif %}
</section>

<!-- floating link to add a new trip -->
{% if trip['owner_id'] == user_id %}
<aside class="fixed-action-btn">
	<a href="" class="btn my-btn my-btn-new">
		add stop
	</a>
</aside>
{% endif %}
{% endblock %}